certifi
charset-normalizer
defusedxml
idna
jsonschema
jsonschema-specifications
numpy
opencv-python
numpy-quaternion
parse
protobuf
pymap3d
pyorbital
pypng
pyproj
requests
scipy
urllib3
pyserial
types-pyserial
termcolor
deepdiff
json5==0.15.0
